repositories:
  - name: bitnami
    url: https://mirror.yandex.ru/helm/charts.bitnami.com
  - name: ingress-nginx
    url: https://kubernetes.github.io/ingress-nginx
  - name: jetstack
    url: https://charts.jetstack.io
  - name: pelican-s3-backupper
    url: git+https://github.com/TourmalineCore/pelican-s3-backupper.git?ref=9338eb238a0daa3fd060b9bb6c945f6a9256a98c
  - name: pelican-db-backupper
    url: git+https://github.com/TourmalineCore/pelican-db-backupper.git?ref=7460d187fde973e0d80d330153aecabfeb623a3c
  - name: pelican-env-synchronizer
    url: git+https://github.com/TourmalineCore/pelican-env-synchronizer.git?ref=c94ebe494cee16a466038cb4dd70344d38872b66
    
environments:
  prod:
    values:
      - environments/{{ .Environment.Name }}/values.yaml.gotmpl

releases:
  - name: ingress-nginx
    labels:
      app: ingress-nginx
    wait: true
    chart: ingress-nginx/ingress-nginx
    # update ingress-nginx version to 1.12.1 for fix CVE-2025-1098
    # https://www.opennet.ru/opennews/art.shtml?num=62946
    version: 4.12.1
    values:
      - values-ingress-nginx.yaml.gotmpl

  - name: cert-manager
    wait: true
    chart: jetstack/cert-manager
    version: 1.14.5
    needs: 
      - ingress-nginx
    values:
      - values-cert-manager.yaml.gotmpl
    # deploy custom resource using hooks feature of helmfile since there is nothing like extraDeploy for this chart
    hooks:
      - events: ["postsync"]
        showlogs: true
        command: "sh"
        # envsubst tool is used to replace env variables in file with their values
        args: ["-c", "envsubst < ./cert-manager-cluster-issuer.yaml | kubectl apply -f -"]

  - name: postgresql
    labels:
      app: postgresql
    wait: true
    chart: bitnami/postgresql
    version: 12.2.7
    values:
      - values-postgre.yaml.gotmpl

  - name: pelican-cms
    labels:
      app: pelican-cms
    wait: true
    chart: bitnami/nginx
    # after 15.3.5 our docker file or setup can no longer start, need to investigate what is wrong for the newer versions
    version: 15.3.5
    # it won't work anyway until ingress controller is created
    # thus we wait for it to be ready first
    needs: 
      - ingress-nginx
      - postgresql
    values:
      # https://helmfile.readthedocs.io/en/latest/#loading-remote-environment-values-files
      - git::https://github.com/TourmalineCore/pelican-cms.git@/ci/values.yaml?ref=b995d6cc2fd483d2b5c3956fa2b6e90ff875ea88
      - values.yaml.gotmpl
      - values-cms.yaml.gotmpl
      
  - name: pelican-ui
    labels:
      app: pelican-ui
    wait: true
    chart: bitnami/nginx
    # after 15.3.5 our docker file or setup can no longer start, need to investigate what is wrong for the newer versions
    version: 15.3.5
    # it won't work anyway until ingress controller is created
    # thus we wait for it to be ready first
    needs: 
      - ingress-nginx
      - pelican-cms
    values:
      # https://helmfile.readthedocs.io/en/latest/#loading-remote-environment-values-files
      - git::https://github.com/TourmalineCore/pelican-ui.git@/ci/values.yaml?ref=63d1b73f54c63cfb203083e2d833cff8252bf0f7
      - values.yaml.gotmpl
      - values-ui.yaml.gotmpl

  - name: pelican-s3-backupper
    labels:
      app: pelican-s3-backupper
    wait: true
    chart: pelican-s3-backupper/pelican-s3-backupper
    needs: 
      - pelican-cms
    values:
      # https://helmfile.readthedocs.io/en/latest/#loading-remote-environment-values-files
      - git::https://github.com/TourmalineCore/pelican-s3-backupper.git@/ci/values.yaml?ref=9338eb238a0daa3fd060b9bb6c945f6a9256a98c
      - values-pelican-s3-backupper.yaml.gotmpl

  - name: pelican-db-backupper
    labels:
      app: pelican-db-backupper
    wait: true
    chart: pelican-db-backupper/pelican-db-backupper
    needs: 
      - pelican-cms
    values:
      # https://helmfile.readthedocs.io/en/latest/#loading-remote-environment-values-files
      - git::https://github.com/TourmalineCore/pelican-db-backupper.git@/ci/values.yaml?ref=7460d187fde973e0d80d330153aecabfeb623a3c
      - values-pelican-db-backupper.yaml.gotmpl

  - name: pelican-env-synchronizer
    labels:
      app: pelican-env-synchronizer
    wait: true
    chart: pelican-env-synchronizer/pelican-env-synchronizer
    values:
      # https://helmfile.readthedocs.io/en/latest/#loading-remote-environment-values-files
      - git::https://github.com/TourmalineCore/pelican-env-synchronizer.git@/ci/values.yaml?ref=c94ebe494cee16a466038cb4dd70344d38872b66
      - values.yaml.gotmpl
      - values-pelican-env-synchronizer.yaml.gotmpl
    hooks:
      # Create namespace if doesn't exists. It's needed in reason that configmap for env-synchronizer can't be created before namespace
      - events: ["prepare"]
        showlogs: true
        command: "sh"
        args: ["-c", "if ! kubectl get namespace {{ .Environment.Name }}; then kubectl create namespace {{ .Environment.Name }}; fi"]
      # Delete configmap if already exists
      - events: ["prepare"]
        showlogs: true
        command: "sh"
        args: ["-c", "if kubectl get configmap {{ .Values.PELICAN_SYNCHRONIZER_CONFIGMAP_NAME }} --namespace {{ .Environment.Name }} && [ -f ../.devcontainer/devcontainer.env ]; then kubectl delete configmap {{ .Values.PELICAN_SYNCHRONIZER_CONFIGMAP_NAME }} --namespace {{ .Environment.Name }}; fi"]
      # Create configmap with env values
      - events: ["preapply"]
        showlogs: true
        command: "sh"
        args: ["-c", "if [ -f ../.devcontainer/devcontainer.env ]; then kubectl create configmap {{ .Values.PELICAN_SYNCHRONIZER_CONFIGMAP_NAME }} --from-env-file ../.devcontainer/devcontainer.env --namespace {{ .Environment.Name }}; fi"]

