# —— START —— #
# —— DO NOT CHANGE MANUALLY —— #
# —— UPDATED IN WORKFLOWS —— #
image:
  tag: "sha-a314118949e39dec47dfacd68b0676eb5816dd99"
# —— END —— #

extraConfigMapEnvVars:
  SCHEDULE: "{{ .Values.PELICAN_SYNCHRONIZER_SCHEDULE }}"
  SYNCHRONIZER_ENABLED: "{{ .Values.PELICAN_SYNCHRONIZER_ENABLED }}"
  ENV_REPOSITORY: "{{ .Values.PELICAN_SYNCHRONIZER_ENV_REPOSITORY }}"
  PATH_TO_HELMFILE: "{{ .Values.PELICAN_SYNCHRONIZER_PATH_TO_HELMFILE }}"
