# —— START —— #
# —— DO NOT CHANGE MANUALLY —— #
# —— UPDATED IN WORKFLOWS —— #
image:
  tag: "sha-6034447a2e4c926b9ed5de3d8d77b91a53572124"
# —— END —— #

extraConfigMapEnvVars:
  S3_BACKUPS_FILENAME_PREFIX: "{{ .Values.PELICAN_S3_BACKUPS_FILENAME_PREFIX }}"
  SOURCE_S3_AWS_BUCKET_SUBFOLDER_NAME: "{{ .Values.PELICAN_AWS_SUBFOLDER_NAME }}"
  SOURCE_S3_AWS_ACCESS_KEY_ID: "{{ .Values.PELICAN_BACKUPS_AWS_ACCESS_KEY_ID }}"
  SOURCE_S3_AWS_SECRET_ACCESS_KEY: "{{ .Values.PELICAN_BACKUPS_AWS_ACCESS_SECRET_KEY }}"
  SOURCE_S3_AWS_ENDPOINT: "{{ .Values.PELICAN_AWS_ENDPOINT }}"
  SOURCE_S3_AWS_BUCKET_NAME: "{{ .Values.PELICAN_AWS_BUCKET }}"
  DESTINATION_S3_AWS_ACCESS_KEY_ID: "{{ .Values.PELICAN_BACKUPS_AWS_ACCESS_KEY_ID }}"
  DESTINATION_S3_AWS_SECRET_ACCESS_KEY: "{{ .Values.PELICAN_BACKUPS_AWS_ACCESS_SECRET_KEY }}"
  DESTINATION_S3_AWS_ENDPOINT: "{{ .Values.PELICAN_AWS_ENDPOINT }}"
  DESTINATION_S3_AWS_BUCKET_NAME: "{{ .Values.PELICAN_BACKUPS_AWS_BUCKET }}"
  BACKUPS_SCHEDULE: "{{ .Values.PELICAN_BACKUPS_SCHEDULE }}"
