# —— START —— #
# —— DO NOT CHANGE MANUALLY —— #
# —— UPDATED IN WORKFLOWS —— #
image:
  tag: "sha-2f3f5fc3cbaa1daccd54f41e79c6f7aaab16711b"
# —— END —— #

extraConfigMapEnvVars:
  SCHEDULE: "{{ .Values.PELICAN_SYNCHRONIZER_SCHEDULE }}"
  SYNCHRONIZER_ENABLED: "{{ .Values.PELICAN_SYNCHRONIZER_ENABLED }}"
  ENV_REPOSITORY: "{{ .Values.PELICAN_SYNCHRONIZER_ENV_REPOSITORY }}"
  PATH_TO_HELMFILE: "{{ .Values.PELICAN_SYNCHRONIZER_PATH_TO_HELMFILE }}"